@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Salsa&display=swap');
body{
    margin: 0px;
    font-family: 'Roboto mono';
}
.cabecalho{
    background-image: url("imagens/fundo-header.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 1200px;

    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    text-align: center;
    padding-top:20px;
    padding-bottom: 22px;
}
    .logo{
        width: 170px;
        height: 170px;
        /* solid dotted dashed double*/
        border: 10px double #FFD29C;
        background-color: white;
        padding: 10px;
        border-radius: 100px;
    }
    .nome-loja{
        font-size: 60px;
        color: #F36444;
        line-height: 100%;
        font-family: 'Salsa';
        font-weight: 600;
    }
    .texto-piqueno{
        font-size: 28px;
    }
    