@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Salsa&display=swap');

    body{
    margin: 0px;
    font-family: 'Roboto mono';
    background-color: #f1dbc0;
    }

    .cabecalho{
    background-image: url("imagens/fundo-header.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 1200px;
    

    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    text-align: center;
    padding-top:20px;
    padding-bottom: 22px;
    }

    .logo{
        width: 170px;
        height: 170px;
        /* solid dotted dashed double*/
        border: 10px double #FFD29C;
        background-color: white;
        padding: 10px;
        border-radius: 100px;
    }

    .nome-loja{
        font-size: 60px;
        color: #F36444;
        line-height: 100%;
        font-family: 'Salsa';
        font-weight: 600;
    }
    .texto-piqueno{
        font-size: 28px;
    }

    .menu{
        background-color: #FB6066;
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 19px;
        padding-bottom: 19px;
        color: #FDD86E;
    }
    .item-menu{
        color: #FDD86E;
        font-size: 18px;
        font-weight: 500;
    }

    .foto-banner{
        width: 1200px;
        height: 445px;
       object-fit: cover;

    }
    .banner{
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 5px solid #FB6066;
    }
    .bolos{
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .cardapio{
        text-align: center;
        color: #F36444;
        font-family: 'roboto mono';
        font-size: 20px;
    }

    .texto-colunas{
        font-size: 12px;
        color:#670D0F;
        font-family: 'Roboto mono';
        column-count: 4;
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 22px;
    }
    .galeria{
        background-color: #cc9a9c;
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 50px solid #cc9a9c;
        border-top: 10px solid #cc9a9c;
    }
    .fotos-titulo{
        text-align: center;
        color: #F36444;
        font-family: 'roboto mono';
        font-size: 20px;
    }
    .fotos-img{
        width: 200px;
        height: 200px;
        object-fit: cover;
        margin-right: 30px;
        margin-left: 120px;
        border-top: 20px solid #cc9a9c;
        border: 10px double #FB6066;
    }
    .local{
        width: 1200px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .contatos{
        text-align: center;
        color: #F36444;
        font-family: 'roboto mono';
        font-size: 20px;
    }
   